<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center p-8">
  <h1 class="text-4xl font-bold mb-4 fon text-[#ebb400]">Painel de Controle Bet on You!</h1>
  <p class="text-lg text-gray-800 mb-8 text-center max-w-3xl mx-auto">Aqui você poderá monitorar seu perfil de risco, 
    registrar hábitos financeiros e receber orientações personalizadas. A plataforma promove conscientização, apoio 
    psicológico e educação contínua, ajudando a desenvolver comportamentos financeiros saudáveis e a reduzir o impacto 
    das apostas.</p>
  <p class="text-lg text-gray-600 mb-8">Selecione uma das opções abaixo:</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full max-w-4xl">
    
    <a href="/questionario" class="bg-white shadow-md rounded-2xl border border-[#d7c100] p-6 text-center hover:bg-blue-100 transition">
      <h2 class="text-xl font-semibold mb-2">Questionário</h2>
      <p class="text-gray-500">Perguntas simples referente sua frequencia em apostas.</p>
    </a>

    <a href="/conscientizacao" class="bg-white shadow-md rounded-2xl border border-[#d7c100] p-6 text-center hover:bg-blue-100 transition">
      <h2 class="text-xl font-semibold mb-2">Conscientização</h2>
      <p class="text-gray-500">Ensinamento de conscientização financeira.</p>
    </a>

    <a href="/redeApoio" class="bg-white shadow-md rounded-2xl border border-[#d7c100] p-6 text-center hover:bg-blue-100 transition">
      <h2 class="text-xl font-semibold mb-2">Rede de Apoio</h2>
      <p class="text-gray-500">Caso queira conversar com algum profissional.</p>
    </a>

    <a href="/depoimentos" class="bg-white shadow-md rounded-2xl border border-[#d7c100] p-6 text-center hover:bg-blue-100 transition">
      <h2 class="text-xl font-semibold mb-2">Depoimentos</h2>
      <p class="text-gray-500">Caso queira escrever sobre alguma experiencia.</p>
    </a>

  </div>
</div>
